@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

:root{
    --purple:#c77dff;
    --light-purple:#e0aaff;
    --dark-purple:#9d4edd;
    --darker-purple:#240046;
}

*{
    padding:0;
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.header{
    max-width:100%;
    background-color: var(--light-purple);
}
h2{
    font-size:2rem;
    padding:1.5rem;
    color: var(--darker-purple);

}
.main{
    min-height: 80vh;
    max-width:60%;

}
p{
    max-width: 90%;
    padding:1.5rem;
    font-size:1.3rem;
}
label{
    font-size:1.3rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    
}

.textbox{
    display:block;
    padding: 0.5rem;
    width: 100%;
    margin:0.4rem;
    border-radius: 0.4rem;
    border:2px solid var(--dark-purple);
    font-size: 1.3rem;
}
button{
    padding:0.4rem 2rem;
    margin:0.5rem auto;
    height: 5%;
    width: max-content;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: var(--light-purple);
    border:2px solid var(--dark-purple);
    border-radius: 0.4rem;

}
button:hover{
    background-color: var(--purple);
}
.result{
    font-size: 1.5rem;
    padding:0.4rem;
    margin:1rem auto;
}
table,th,td {
    border:2px solid var(--dark-purple);
    border-collapse:collapse;
    text-align: center;
    margin: auto;
}
td{
    padding:0.4rem;
}
footer{
    max-width:100%;
    background-color: var(--light-purple);
}
.nametext{
    color: var(--darker-purple);
    padding:0.2rem auto;
}
ul{
    padding-bottom: 1.2rem;
}

li{
    list-style: none;
    display: inline;
    
    
}
a{
    text-decoration: none;
    font-size: 2rem;
    margin:0 0.2rem;
}
.fa{
    color:var(--darker-purple);
    
}



